QDialog#LoginDialog, #RegisterDialog{
background-color: rgb(255, 255, 255);
}
#userLabel_, #passLabel_{
color:black;
}
#err_tip[state='normal']{
color:green;
}
#err_tip[state='err']{
color:red;
}